{
  "Logging": {
    "IncludeScopes": false,
    "Debug": {
      "LogLevel": {
        "Default": "Warning"
      }
    },
    "Console": {
      "LogLevel": {
        "Default": "Warning"
      }
    }
  },
  "MySettings": {
    "DbConn": "server=LOCAL\\SQLEXPRESS;user=sa;database=sa;password=rcarcheri123456;"
  }
}